/*!

 =========================================================
 * Lansera - v1.2.3
 =========================================================

 * Product Page: https://uiroute.com/product/bootstrap/lansera
 * Copyright 2020 UiRoute (https://uiroute.com)

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */
 @font-face {
	font-family: "Poppins";
	src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
}
&:root {
	--light-bg: #F9F7F2;
	--primary-color: #6c3aeb;
	--fb-color: #4267B2;
	--dribbble-color: #ea4c89;
	--twitter-color: #1da1f2;
	--darktheme-bg: #1b0234;
	--darktheme-text: #eff1f5;
	--darktheme-items: #4F1D82;
	--font-family: "Poppins";
}
.dark-theme {
	background: var(--darkTheme-bg);
	h2 {
		color: var(--darkTheme-text);
	}
	h3 {
		color: var(--darkTheme-text);
	}
	p {
		color: var(--darkTheme-text);
	}
	nav {
		ul {
			li {
				a {
					color: var(--darkTheme-text);
					&:hover {
						color: var(--darkTheme-text);
					}
				}
			}
		}
	}
	.logo {
		a {
			color: var(--darkTheme-text);
		}
	}
	.cta-nav-btn {
		border: 1px solid var(--darkTheme-text);
	}
	.section-tile {
		background-color: var(--darkTheme-items);
	}
	.card-item {
		background: var(--darkTheme-items);
		&:hover {
			h3 {
				color: var(--darkTheme-items) !important;
			}
			p {
				color: var(--darkTheme-items) !important;
			}
		}
	}
	.get-started {
		background: var(--darkTheme-items);
	}
	.card {
		background: var(--darkTheme-items);
	}
	.card-body {
		background: var(--darkTheme-items);
		color: var(--darkTheme-text);
	}
	.btn-label {
		color: var(--darkTheme-text);
	}
	.btn-body {
		background: var(--darkTheme-text);
		color: var(--darkTheme-bg);
	}
	.github-icon {
		color: var(--darkTheme-text);
	}
	.nav-btn {
		i {
			color: var(--darkTheme-text);
		}
	}
	#theme-select {
		background: var(--darkTheme-items);
		color: var(--darkTheme-text);
	}
}
h1 {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	background: #DC2424;
	background: -webkit-linear-gradient(90deg,#b13cff,#dd45d3 50%,#fd9d52);
	background: linear-gradient(90deg,#b13cff,#dd45d3 50%,#fd9d52);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2 {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
}
h3 {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
}
p {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
}
.logo {
	float: left;
	padding: 10px;
	margin-left: 16px;
	margin-top: 22px;
	a {
		color: var(--primary-color);
		text-transform: uppercase;
		font-weight: 500;
		font-family: var(--font-family);
		font-size: 20px;
		letter-spacing: 0px;
		text-decoration: none;
	}
}
nav {
	margin-left: 2rem;
	margin-right: 2rem;
	ul {
		float: right;
		li {
			display: inline-block;
			float: left;
			&:not(:first-child) {
				margin-left: 48px;
			}
			&:last-child {
				margin-right: 24px;
			}
			a {
				display: inline-block;
				outline: none;
				color: var(--primary-color);
				text-decoration: none;
				font-size: 1.4rem;
				letter-spacing: 1.8px;
				font-weight: 500;
				font-family: 'Poppins';
				&:hover {
					display: inline-block;
					outline: none;
					color: var(--primary-color);
					text-decoration: none;
					font-size: 1.4rem;
					letter-spacing: 1.8px;
					font-weight: 500;
					font-family: 'Poppins';
				}
			}
		}
	}
}
.normal-link {
	margin-top: 22px;
}
.cta-nav-btn {
	color: var(--primary-color);
	padding: 10px;
	border: 1px solid var(--primary-color);
	border-radius: 30px;
	text-decoration: none;
	margin-top: 8px;
	&:hover {
		background: linear-gradient(90deg,#b13cff,#dd45d3 50%,#fd9d52);
		color: #fff;
		text-decoration: none;
		border: transparent;
	}
}
.color-icon {
	background: -webkit-linear-gradient(90deg,#b13cff,#dd45d3 50%,#fd9d52);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 10px;
}
.title {
	font-weight: 700;
	font-size: 5rem;
	padding-bottom: 10px;
	margin-top: 12rem;
}
main {
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}
.img-appPresentation {
	margin-top: 10rem;
	max-width: 100%;
}
.ml-xl {
	margin-left: 5rem;
}
.mr-xl {
	margin-right: 5rem;
}
.section-tile {
	margin-top: 10rem;
	margin-bottom: 10rem;
	background-color: #fff;
	padding: 4rem;
}
.shadow {
	box-shadow: 0 .25rem 1.875rem rgba(43,53,79,.1) !important;
}
.section-header {
	margin-top: 8rem;
}
.sub-header {
	font-size: 2rem;
	font-weight: 600;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	color: #a9a9a9;
}
.buttons-container {
	margin-top: 2rem;
}
.section-features {
	margin-top: 10rem;
}
.about-details {
	h2 {
		margin-top: 8rem;
		margin-bottom: 4rem;
	}
	p {
		font-size: 1.8rem;
	}
	margin-top: 5rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
.cards-row {
	margin-top: 5rem;
}
.card-item {
	text-align: center;
	background-color: var(--light-bg);
	padding: 3rem;
	border-radius: 1rem;
	margin-bottom: 4rem;
	margin-left: 1rem;
	margin-right: 1rem;
	&:hover {
		background-color: #fff;
		border: 0.3rem solid var(--light-bg);
		transform: scale(1.1);
	}
}
.card-title {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#accordion {
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.btn-link {
	width: 100%;
}
.btn-label {
	margin-left: 2rem;
}
.card {
	background-color: var(--light-bg);
	border: .0625rem solid rgba(23,31,56,.125);
}
.faq-section {
	p {
		margin-top: 2rem;
		font-size: 1.8rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}
	margin-top: 10rem;
	.btn-link {
		font-family: "Poppins";
		font-size: 1.8rem;
		&:focus {
			text-decoration: none;
			outline: 0;
		}
		&:hover {
			text-decoration: none;
			outline: 0;
		}
	}
	h2 {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
.card-body {
	font-family: "Poppins";
	font-size: 1.6rem;
	background-color: #fff;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
.col-centered {
	float: none;
	margin: 0 auto;
}
#about {
	margin-top: 10rem;
	margin-bottom: 5rem;
}
.section-title {
	margin-left: 2rem;
	margin-right: 2rem;
}
.section-subtitle {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
	font-size: 1.8rem;
}
.get-started {
	margin-top: 5rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
	background: #eff1f5;
	h2 {
		font-size: 4rem;
		font-weight: 600;
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
	.buttons-container {
		margin-bottom: 8rem;
	}
}
.about-img {
	margin-top: 4rem;
	max-height: 40rem;
}
.download-img {
	max-width: 100%;
	max-height: 40rem;
	margin-top: 2rem;
}
.footer {
	padding: 50px;
	text-align: center;
	p {
		margin: 1.8rem 0 1rem;
		font-family: 'Poppins';
		font-size: 16px;
	}
	ul {
		list-style: none;
		margin: 1.8rem 0 1rem;
		padding: 0;
	}
	a {
		font-family: 'Poppins';
		font-size: 16px;
		text-decoration: none;
	}
}
.footer-title {
	margin-top: 2rem;
}
.social-icons {
	display: inline-block;
	ul {
		li {
			display: inline-block;
			margin-right: 10px;
		}
	}
}
.facebook-icon {
	color: var(--fb-color);
}
.dribbble-icon {
	color: var(--dribbble-color);
}
.twitter-icon {
	color: var(--dribbble-color);
}
.github-icon {
	color: #000;
}
.instagram-icon {
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.select-container {
	margin-top: 2rem;
	font-family: "Poppins";
}
#theme-select {
	padding: 1rem;
}
#nav {
	&:checked {
		+ {
			.nav-btn {
				transform: rotate(45deg);
				i {
					background: var(--primary-color);
					transition: transform 0.2s ease;
					&:nth-child(1) {
						transform: translateY(6px) rotate(180deg);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						transform: translateY(-6px) rotate(90deg);
					}
				}
			}
		}
		~ {
			.nav-wrapper {
				z-index: 9990;
				opacity: 1;
				ul {
					li {
						a {
							opacity: 1;
							transform: translateX(0);
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 540px) {
	.ml-xl {
		margin-left: 2rem;
	}
	.mr-xl {
		margin-right: 2rem;
	}
}
@media only screen and (min-width: 865px) {
	.android-btn {
		margin-right: 2rem;
	}
}
@media screen and (max-width:864px) {
	.title {
		margin-top: 6rem;
	}
	.logo {
		padding: 0;
		margin-top: 12px;
		position: fixed;
		top: 10px;
		z-index: 9990;
	}
	.dark-theme {
		.nav-wrapper {
			background: var(--darkTheme-bg);
		}
		.nav-btn {
			i {
				background: var(--darkTheme-text);
			}
		}
	}
	.nav-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: var(--light-bg);
		opacity: 0;
		transition: all 0.2s ease;
		ul {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 90%;
			li {
				display: block;
				float: none;
				width: 100%;
				text-align: right;
				margin-bottom: 10px;
				&:nth-child(1) {
					a {
						transition-delay: 0.2s;
					}
				}
				&:nth-child(2) {
					a {
						transition-delay: 0.3s;
					}
				}
				&:nth-child(3) {
					a {
						transition-delay: 0.4s;
					}
				}
				&:nth-child(4) {
					a {
						transition-delay: 0.5s;
					}
				}
				&:not(:first-child) {
					margin-left: 0;
				}
				a {
					padding: 10px 24px;
					opacity: 0;
					color: var(--primary-color);
					font-size: 18px;
					font-weight: 600;
					letter-spacing: 1.2px;
					transform: translateX(-20px);
					transition: all 0.2s ease;
				}
			}
		}
	}
	.nav-btn {
		position: fixed;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
		i {
			display: block;
			width: 20px;
			height: 2px;
			background: var(--primary-color);
			border-radius: 2px;
			margin-left: 14px;
			&:nth-child(1) {
				margin-top: 16px;
			}
			&:nth-child(2) {
				margin-top: 4px;
				opacity: 1;
			}
			&:nth-child(3) {
				margin-top: 4px;
			}
		}
	}
}
